.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

    grid-template-areas:
    "h h"
    "n c";
}

.header {
    grid-area: h;
    background-color: grey;
}

.header img {
    width: 150px;
}

.nav {
    grid-area: n;
    background-color: green;
}

.content {
    grid-area: c;
    background-color: yellow;
}

.content img {
    width: 80%;
}