.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.active {
    color: gold;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000;
}


.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {

}

